os: Visual Studio 2015
environment:
  global:
    PROJECT_NAME: brainhug
    RUSTUP_INIT_SKIP_MSVC_CHECK: 1
  matrix:
  - TARGET: x86_64-pc-windows-msvc
    CHANNEL: stable
  - TARGET: x86_64-pc-windows-msvc
    CHANNEL: nightly

install:
- curl -sSf -o rustup-init.exe https://win.rustup.rs
- rustup-init.exe --default-host %TARGET% --default-toolchain %CHANNEL% -y
- set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
- rustc -Vv
- cargo -V

test_script:
- cargo build --verbose

build: false
